:root{
    --main-color: #A01958;
    --subheading-color: #4C8E6F;
    --content-color: #1B4A37;
    --light-color: #FCDFD8;
    --dark-color: #3A0043;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: var(--content-color);
}

main {
    flex: 1 0 auto;
}

.no-activities-found{
    text-align: center;
}

.no-activities-found *{
    padding-top: 2em;
    padding-bottom: 2em;
}

.activity{
    margin-top: 1em;
}

.activity .map div{
    height: 25em;
    width: 100%;
}

.activity h5{
    margin-top: 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.activity table, /* Stats of activity on user's profile */
.ranking-table /* Ranking table */
{
    table-layout: fixed;
}

.activity td:nth-child(2) /* second stat in an activity card */
{
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: var(--subheading-color);
}

.activity-heading{
    margin-left: 0.4em;
    height: 4em;
}

footer{
    margin-top: 2em;
}

footer > div.container > div.row > div.col /* Columns in footer */
{
    padding-left: 0;
}

.modal ol, /* Ordered list in modals */
.login-card ol /* Ordered list on login card */
{
    padding-left: 1.2em;
}

img.navbar-logo /* Navbar logo image */
{
    margin-top: 0.1em;
    max-width: 248px;
    max-height: 56px;
}

@media (max-width:600px){
    img.navbar-logo /* Navbar logo image */
    {
        margin-top: 0.1em;
        max-width: 212.6px;
        max-height: 48px;
    }
}

/* Organization pick trigger */
.btn.dropdown-trigger.dark-color:hover{
    background-color: var(--main-color);
}

.dark-color,
.button-danger, .button-danger:hover, .button-danger:focus, /* Button danger */
.btn.dropdown-trigger.dark-color:focus /* Organization pick trigger */
{
    background-color: var(--dark-color);
}

.highlight-color,
nav /* Navbar */
{
    background-color: var(--light-color);
}

.subheading-color,
.button-safe, .button-safe:hover, .button-safe:focus /* Button safe */
{
    background-color: var(--subheading-color);
}

.heading-text,
h1, h2, h3, h4, h5, h6
{
    color: var(--main-color);
    font-weight: bold;
}

.main-text,
.accent, /* Accents in text */
.tabs .tab a, /* Text color on tabs*/
nav > div > ul > li > a /* Links on navbar */
{
    color: var(--main-color);
}

.subheading-text,
div.welcome-page  h4 /* headings on welcome page */
{
    color: var(--subheading-color);
    font-weight: normal; /* QUESTIONABLE */
}

.content-text,
.dropdown-content > li > a /* Dropdown content text color */
{
    color: var(--content-color);
}

.dark-text{
    color: var(--dark-color);
}

.tabs .tab a:focus.active{
    background-color: transparent;
} /* Tab color after press */

.tabs .tab a:hover {
    background-color: transparent;
    color: var(--main-color);
} /*Text color on hover over tab*/

.tabs .tab a.active {
    background-color: transparent;
    color:var(--main-color);
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: var(--main-color);
} /*Color of tab underline*/

.login-card{
    text-align: center;
    background-color: var(--light-color);
    margin-top: 3em;
    padding: 1em;
}

.login-card div{
    border-radius: 0.2em;
}

.login-card > div{
    text-align: left;
    background-color: white;
    padding: 1em 1em 0.5em 1em;
}

.login-card > h1{
    margin-bottom: -0.2em;
}

div.admin-login /* Div that contains admin login form */
{
    padding-top: 3em;
    text-align: center;
}

.organization-placement div#map /* Organization placement map */
{
    height: 35em;
}

.organization-placement div.modal-content /* Organization placement div that contains map for placement */
{
    padding: 0;
}

form#update_organization > div > div /* Organization settings form */
{
    margin-left: 0;
}

div#admin-settings > div.row > ul /* Admin settings sections */
{
    padding-bottom: 1.5em;
}

@media only screen and (max-width: 992px){
    nav#nav-other > div.nav-wrapper > a.brand-logo /* Logo on navbar other */
    {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

